.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Header styles */
    .header{
      background-image: url('../images/developer.png'), url('../images/header_bg.png');
      background-repeat: no-repeat;
      background-position: top left, bottom right;
    }
/* Shared styles */
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;

}
.btn-primary{
  background-color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}

/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul{
  display: flex;
  align-items: center;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul li{
  list-style-type: none;
  margin-right: 50px;
}
nav li a{
  text-decoration: none;
}

/* Banner styles */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content{
  max-width: 580px;
}
.banner-title{
  font-size: 85px;
  font-weight: bold;

}
.banner-greetings{
 font-size: 45px; 
 font-weight: 600;
}
.banner-description{
  font-size: 18px;
}
.banner-pp{
  width: 580px;
}